<div class="header">
  <mat-icon class="logo" svgIcon="logo"></mat-icon>
  <h1>Lung cancer nodule segmentation</h1>
</div>
<div class="content">
  <div class="column">
    <unet-scan-form></unet-scan-form>
    <unet-scan-preview
      *ngIf="scan$ | async as scan"
      [src]="scan"
    ></unet-scan-preview>
    <div class="button-wrapper" *ngIf="!displayPrediction">
      <button
        *ngIf="scan$ | async as scan"
        (click)="displayPrediction = !displayPrediction"
      >
        Get prediction
      </button>
    </div>
  </div>
  <div class="column">
    <div *ngIf="displayPrediction">
      <unet-scan-preview
        *ngIf="file$ | async as file"
        [src]="file.imageB64"
      ></unet-scan-preview>
    </div>
  </div>
  <div class="column">
    <div *ngIf="displayPrediction">
      <unet-result-preview></unet-result-preview>
    </div>
  </div>
</div>
