.header {
  display: flex;
  padding: 64px 96px;
  align-items: center;
  background-color: #FFF3DA;

  .logo {
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: 84px;
    color: #5B0888;
    margin: 32px auto;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-top: 30px;
    padding: 15px 25px;
    background-color: #9D76C1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
}


.content {
  display: flex;
  margin: 32px;

  .column {
    margin: 32px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    min-width: 30%;
  }
}