<form autocomplete="off" [formGroup]="form">
  <div
    class="file-input"
    *ngIf="!file && !uploadInProgress; else fileUpload"
    class="file-container"
  >
    <div class="text">
      <div *ngIf="!disabled">
        {{ "SCANS.UPLOAD" | translate }}
        <label for="file"
          ><span>{{ "SCANS.FROM_DEVICE" | translate }}</span
          >.</label
        >
      </div>
    </div>
    <input id="file" type="file" hidden (change)="onFileSelected($event)" />
    <mat-icon svgIcon="camera"></mat-icon>
  </div>
</form>

<ng-template #fileUpload>
  <div
    class="file-input completed-file-input"
    *ngIf="!uploadInProgress; else loading"
  >
    <div class="upload-failed" *ngIf="!file">
      {{ "SCANS.UPLOAD_FAILED" | translate }}
    </div>
    <div class="text file-name" [class.upload-unsucessful]="file">
      <div
        class="file-name-container text-truncate"
        *ngIf="file$ | async as scan"
      >
        Uploaded file name: {{ fileName }}
      </div>
    </div>
    <div class="icon-container uploaded-icon">
      <mat-icon svgIcon="camera"></mat-icon>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="file-input">
    <div class="upload-progress-container">
      <div class="progress-container">
        <div class="pb-10px upload-text">
          {{ "SCANS.DOCUMENT_LOADING" | translate }}
        </div>
        <mat-progress-bar
          class="red-progress"
          mode="determinate"
          *ngIf="uploadProgress$ | async as progress"
          [value]="progress"
        ></mat-progress-bar>
        <div class="pt-10px" *ngIf="uploadProgress$ | async as progress">
          {{ progress ? progress + "%" : "" }}
        </div>
      </div>
    </div>
    <div class="icon-container">
      <mat-icon svgIcon="camera"></mat-icon>
    </div>
  </div>
</ng-template>
